body {
    background: linear-gradient(to top, rgba(252, 0, 255, 0.4), rgba(52, 152, 219, 0.4) 35%, rgba(19, 106, 138, 0.4) 50%), url('/assets/img/stars.jpg');
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

}

html {
    height: 100%;
}

.smx-ui-title {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 24%);
    clip-path: polygon(100% 0, 0 0, 0 24%);
    background: rgba(0,0,0,0.5);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    font-family: 'Work Sans', sans-serif;
    overflow: visible;
    z-index: 100;
}

.smx-ui-title #smx-title {
    padding-left: 1.5%;
    padding-top: 1.5%;
    font-size: 32pt;
}

.userlist-ui {
    margin-top: 15%;
    width: 100%;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.smx-userlist-name {
    color: white;
    font-family: 'Work Sans', sans-serif;
    position: relative;





}

.smx-userlist-additional {
    color: white;
    font-family: 'Work Sans', sans-serif;
    position: relative;




}

@media(max-width: 700px) {
    .player-info {
        display: none;
    }

    .smx-ui-title {
        height: 75%;
    }


    .copyright {
        display: none;
    }

    .smx-userlist-name {
        transform:  translateX(10%);
    }

    .smx-userlist-additional {
        transform: translateX(10%);
    }
}

@media (min-width: 700px) {
    .player-info {
        position: absolute;
        top: 25%;
        left: 0;
        background: rgba(0,0,0,0.4);
        height: 450px;
        width: 300px;
    }

    .smx-userlist-name {
        transform: translateY(-50%) translateX(-7%);
        top: 40%;
    }

    .smx-userlist-additional {
        transform: translateX(-7%);
        top: 20%;
    }

    .copyright {
        position: fixed;
        left: 2%;
        bottom: 2%;
        color: white;
        font-family: 'Work Sans', sans-serif;
    }

    .container-fluid {
        margin-top: 15vh
    }
}

.player-info img {
    border-radius: 15px;
}

.player-info .pi-text {
    padding: 2%;
    color: white;
}

.player-ui {
    margin-top: 15%;
    width: 100%;
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

}

.song {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    height: 450px;
    margin: 3%;
    box-shadow: black 6px 6px 10px;
    border-radius: 5px;
    border: 1px white solid;
    overflow: hidden;
}

.smx-cover {

    transform: rotateY(25deg);
}

.smx-cover-pers {
    perspective: 1000px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    border-color: white;
}


.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr {
    border-color: white;
}

.song h4 {
    font-family: 'Work Sans', sans-serif;
    padding-left: 1.5%;
    padding-top: 1%;
}

.song h6 {
    margin-left: 1.5%;
}
.song h5 {
    margin-left: 1.5%;
}



.song img {
    border-radius: 5px;
}

.element::-webkit-scrollbar { width: 0 !important }

.userlist-user {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.4);
    margin-bottom: 5px;
    border-radius: 15px;
}



